<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="testBasics1" parallel="tests" thread-count="2">
<test name="chromeTest">
<parameter name="browser" value="chrome"></parameter>
<classes>
<class name="execute.ExecuteWorkersPage">
</class>
</classes>
</test>
<test name="firefoxTest">
<parameter name="browser" value="firefox"></parameter>

<classes>
<class name="execute.ExecuteWorkersPage">
</class>
</classes>
</test>
</suite>